* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
}

/* banner section design start */

.banner {
  width: 1120px;
  height: 500px;
  flex-shrink: 0;
  background-image: url('../images/Banner Image.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin: 0 auto;
}

.banner p {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 62px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
}

/*banner section end */

.container h2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.image {
  text-align: center;
}

/*midnight party section start */

.new-midnight-party {
  display: flex;
  background-image: url('../images/Vectorrr.png');
  background-repeat: no-repeat;
  width: 1120px;
  height: 500px;
  flex-shrink: 0;
  margin: 0 auto;
}

/* .midnight-party {
} */

.midnight-party h3 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}

.midnight-party p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.midnight-party h6 {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

/* midnight party section end */

/*party place date time description section start */

.description {
  width: 1120px;
  height: 442px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
  margin: 0 auto;
}

.description .party-description {
  text-align: center;
}

.description .party-description .red-color {
  color: red;
}

.description .party-description p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.description .btn {
  color: #fff;
  background-color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
}

/* party place date time section end */

/* holidays sale section  start */
.holidays-sale {
  width: 1200px;
  background: #fff;
  text-align: center;
  margin: 0 auto;
}

.holidays-sale .holidays-sale-text {
}

.holidays-sale .holidays-sale-text p {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.red-color {
  color: #f00;
}

.holidays-sale .holidays-sale-text h2 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.holidays-sale .holidays-sale-img {
  display: flex;
}
/*hoilidays sale section end */

/* awesome prtfolio section start */
.awesome-portfolio {
  width: 1120px;
  background: #fff;
  text-align: justify;
  margin: 0 auto;
}

.awesome-portfolio .awesome-portfolio-text {
}

.awesome-portfolio .awesome-portfolio-text h6 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.awesome-portfolio .awesome-portfolio-text h3 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.awesome-portfolio .awesome-portfolio-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.awesome-portfolio .awesome-portfolio-text img {
  display: flex;
  justify-content: space-between;
}
/*awesome portfolio section end */

/*newsletter section start */
.newsletter-section {
  width: 1120px;
  height: 516px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  margin: 0 auto;
}

.newsletter-section-text {
}

.newsletter-section-text h2 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}

.newsletter-section-text p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.newsletter-section-img {
}

.newsletter-section-input-btn {
}

.newsletter-section-btn {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  border: none;
  padding: 5px;
}

.newsletter-section-input {
  width: 448px;
  height: 29px;
  background: #fff;
}
/*newsletter section end */

/*footer section start */
.footer {
  width: 1600px;
  height: 609px;
  flex-shrink: 0;
  background: #070211;
}

.footer .footer-top-text{
    display: flex;
    /* justify-content: space-between; */
}

.footer .footer-top-text ,.footer-bottom-text {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.footer .footer-bottom-text{
    display: flex;
    /* justify-content: space-between; */
}

.footer-img{
    text-align: center;
    margin: 0 auto;
}


/*footer section end */
